/* styles.css */

body {
    /* min-height: 100vh; */
    /* margin-bottom: 20px; */
    background-color: #EDEDED;
}

main {
    /* flex: 1 0 auto; */
    padding-left: 50px;
    padding-right: 50px;
}

.logo img {
    width: 50%;
    /* height: 100px; */
    /* object-fit: cover; */
    /* border-radius: 10px; */
}

.info-box {
    padding-left: 20px;
    /* margin-bottom: 20px; */
    border: 2px dotted #3330C5;
    width: 45%;
    /* border-bottom: 1px solid #000; */
    /* border-radius: 1px; */
}

.titleorange {
    color: #E7302A;
}

.titlefamille {
    color: #EDEDED;
    text-align: center;
}

.tree {
    background-color: #3330C5;
    /* bordure ronde */
    border-radius: 10px;
    /* ali */
    align-items: center;
}

.details {
    display: flex;
    margin-top: 20px;
    /* width: 100vw; */
}

.details > div.desease {
    flex-grow: 1;
}

.desease {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 60%; */
}

.antecedent {
    margin-right: 20px;
    width: 70%;
}
.age {
    margin-right: 20px;
    width: 30%;
}

.list {
    flex-grow: 1;
    background-color: #ffffff;
    /* Couleur de fond blanche */
    border: 1px solid #ffffff;
    /* Bordure noire */
    padding: 10px;
    /* Espace à l'intérieur de la boîte */
    margin-bottom: 10px;
    /* Espace sous la boîte */
}

.btn {
    background-color: #E7302A;
    /* Couleur de fond orange */
    border: none;
    /* Supprime la bordure */
    color: white;
    /* Couleur du texte blanche */
    padding: 5px 20px;
    /* Espace à l'intérieur du bouton */
    text-align: center;
    /* Centre le texte */
    text-decoration: none;
    /* Supprime le soulignement */
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    /* Ajoute des coins arrondis */
}

/* Footer */
footer {
    /* background-color: #f8f9fa; */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    /* Add border radius to make the edges smooth */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a box shadow for a 3D effect */
    transition: box-shadow 0.3s ease;
    /* Add a transition for a smooth shadow change */
    border-radius: 10px;
}