header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width: 100px;
    border-radius: 50%;
}

header a {
    color: #333;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}