<!DOCTYPE html>
<html>

<head>
    <title>MaSantéFamiliale</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
    <header>
        <div class="logo">
            <a href="monprofile.html"><img src="assets/logo.jpg" alt="MySantéFamilialeLogo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="monprofile.html">Profile de Théo</a></li>
                <li><a href="profilefamille.html">Famille de Théo</a></li>
                <li><a href="contact.html">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="profile">
            <div class="profile-header">
                <h1>Profile de Théo</h1>
                <img src="assets/head_people.jpg" alt="Théo">
            </div>
            <div class="profile-info">
                <h2 class="name">Théo Gross</h2>
                <p>Age: 20 ans</p>
                <p>Sex: Homme</p>
                <p>Groupe sanguin: O+</p>
            </div>
        </section>
        <section class="details">
            <div class="maladies">
                <h3>Antécédents Médicaux Personnels<h3>
            </div>
            <div class="genealogy">
                <div class="tree">
                    <h3>Arbre généalogique</h3>
                </div>
                <div class="maladiesfamille">
                    <h3>Antécédents Médicaux Familiaux</h3>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 MaSantéFamiliale</p>
    </footer>
    {% endif %}
    {% endblock %}
</body>

</html>